.board {
  display: inline-block;
  margin: 4%;
  width: 80%;
}

.card {
  background: #ff0;
  border: 1px solid #000;
  border-radius: 10px;
  display: inline-block;
  height: 200px;
  margin: 4%;
  width: 150px;
}

h1 {
  color: rgb(2, 132, 130);
}

h2 {
  color: #ffd700;
}

.name {
  color: #f00;
}

html,
body {
  height: 100%;
  margin: 0;
  text-align: center;
  width: 100%;
}

nav {
  background: #808080;
}

a {
  background: #ffbf00;
  color: white;
  display: block;
  float: left;
  padding: 35px;
}

a:hover {
  background: #ee5f3c;
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

footer {
  background: #808080;
  clear: both;
}

img {
  max-height: 100%;
  max-width: 100%;
}
