.board {
  height: 100%;
  margin: 0 auto;
  padding: 25px 0 50px 0;
  width: 90%;
}

.card {
  background: #47e5bc;
  border: 1px solid #000;
  border-radius: 22px;
  display: inline-block;
  height: 200px;
  margin: 1em;
  overflow: hidden;
  width: 150px;
}

h1 {
  color: #47e5bc;
  margin: 0;
  padding: 5px;
}

h2 {
  color: #ebf5ee;
  display: inline;
  font-size: 20px;
  margin: 0 10px;
}

.name {
  color: #f00;
}

html {
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  background: #93a3b1;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  min-height: 100%;
  position: relative;
  text-align: center;
  width: 100%;
}

nav {
  background: #ebf5ee;
}

a {
  background: #8b786d;
  color: #ebf5ee;
  display: block;
  float: left;
  padding: 10px 35px;
}

a:hover {
  background: #283044;
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

footer {
  background: #ebf5ee;
  bottom: 0;
  clear: both;
  font-size: 18px;
  height: 25px;
  position: absolute;
  width: 100%;
}

img {
  height: 100%;
  padding-left: 1px;
  width: 100%;
}

.invalid {
  border: 1px solid red;
}

.matched {
  border: 1px solid green;
}

#number {
  width: 200px;
}

#number:focus {
  outline: none;
}

p {
  display: none;
  padding: 0 20px;
}

#instButton {
  background: #283044;
  cursor: pointer;
  float: left;
  height: 30px;
  padding-top: 10px;
  width: 35%;
}

#inputs {
  background: #283044;
  height: 30px;
  padding-top: 10px;
}

#win {
  background: darkgreen;
  color: lightgreen;
  font-size: 20px;
  margin: 0;
}
.show {
  display: block;
}
